html {
  scroll-behavior: smooth;
}

.dark {
  color: white;
  background: #1e1e1e;
  --main-color: #1e1e1e;
  --bg-color: #fff;
}

/* style for dark mode icon */

.dark-mode__container {
  transform: scale(0.55);
}
.dark-mode__input {
  opacity: 0;
  position: absolute;
}

.dark-mode__label {
  border: 1px solid white;
  width: 50px;
  height: 26px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

.dark-mode__ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
  cursor: pointer;
}

/*  target the elemenent after the label*/
.dark-mode__input:checked + .dark-mode__label .dark-mode__ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}
/* end of style for dark mode icon */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  --main-color: #fff;
  --bg-color: #000;
  transition: all 250ms linear;
}

.dark {
  color: white;
  background: #1e1e1e;
  --main-color: #1e1e1e;
  --bg-color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.nav__logo {
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  color: var(--bg-color);
}

.nav__logo a {
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  color: var(--bg-color);
  text-decoration: none;
}

.nav__list {
  list-style: none;
  display: flex;
  font-weight: 500;
}

.nav__link {
  text-decoration: none;
  cursor: pointer;
  color: var(--bg-color);
  user-select: none;
}

.nav__list li:not(:last-child) {
  margin-right: 16px;
}

@media screen and (max-width: 800px) {
  .nav__list li:not(:last-child) {
    margin-right: 8px;
  }
}

.nav__link:hover {
  text-decoration: underline;
}

.icon__container {
  margin: 8px 0;
  display: flex;
}

.icon__container > *:not(:last-child) {
  margin-right: 16px;
}

.icon {
  display: flex;
  width: 24px;
  height: 100%;
  transition: all 0.25s;
}

.white-icons {
  filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(351deg)
    brightness(100%) contrast(104%);
}

.facebook:hover {
  filter: invert(38%) sepia(17%) saturate(1954%) hue-rotate(182deg)
    brightness(97%) contrast(87%);
}

.instagram:hover {
  filter: invert(29%) sepia(51%) saturate(2893%) hue-rotate(317deg)
    brightness(90%) contrast(95%);
}

.bitbucket:hover {
  filter: invert(26%) sepia(25%) saturate(7011%) hue-rotate(206deg)
    brightness(86%) contrast(109%);
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 46px 16px 64px 16px;
}

.heading {
  font-size: 5.5rem;
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: 4rem;
  }
}

.highlight {
  color: transparent;
  background: linear-gradient(90deg, #7928ca, #ff0080);
  background-clip: text;
  -webkit-background-clip: text;
}

.label {
  font-weight: 600;
  font-size: 32px;
  margin: 16px 0;
  text-underline-offset: 6px;
  text-decoration: underline;
  text-decoration-color: #52525b;
  text-decoration-thickness: 4px;
  text-align: center;
}

.hero {
  padding-bottom: 84px;
}

.profile {
  padding: 32px 0;
}

.profile__name {
  font-size: 16px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.profile__header {
  display: flex;
  justify-content: space-between;
}

.profile__info {
  display: flex;
  flex-flow: column;
}

.profile__name {
  font-size: 34px;
  font-weight: 600;
}

.profile__img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  padding: 2px;
}

.profile_img img {
  object-fit: cover;
  width: 100%;
}

.profile__heading {
  font-weight: 600;
  font-size: 18px;
  margin: 8px 0;
  text-underline-offset: 6px;
  text-decoration: underline;
  text-decoration-color: #52525b;
  text-decoration-thickness: 4px;
}

.profile__label {
  font-weight: 600;
  margin-right: 12px;
}

.bootcamp {
  padding: 16px 0 16px 0;
}

.bootcamp__heading {
  font-weight: 600;
  font-size: 24px;
  margin: 16px 0;
  text-underline-offset: 6px;
  text-decoration: underline;
  text-decoration-color: #52525b;
  text-decoration-thickness: 4px;
}

.bootcamp__label {
  font-weight: 600;
  margin-right: 12px;
}

.bootcamp__content {
  margin-left: 24px;
}

.bootcamp__list {
  padding-left: 16px;
  list-style: square;
}

/* Contact Style */

.content__header {
  font-size: 34px;
}
.contact__form input {
  display: block;
  width: 100%;
  border: 0;
  padding: 16px;
  border-radius: 4px;
  background-color: rgb(243, 243, 243);
  margin-top: 5px;
}
.input__name {
  margin-top: 24px;
}
.input__email {
  margin-top: 18px;
}
.input__mg {
  margin-top: 18px;
}

.label__text {
  font-weight: 500;
  margin-bottom: 6px;
  text-align: center;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  display: block;
  width: 100%;
  border: 0;
  padding: 16px;
  border-radius: 4px;
  background-color: rgb(243, 243, 243);
  margin-top: 5px;
  resize: vertical;
}
.submit__bn {
  margin-top: 16px;
  padding: 12px 32px;
  color: var(--main-color);
  background-color: var(--bg-color);
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.1s linear;
  cursor: pointer;
}

.submit__bn:hover {
  scale: 1.1;
}

.link__container {
  margin-top: 16px;
}

.link {
  color: #007cf0;
  font-weight: 600;
  transition: all 0.25s;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: #007cf0;
  text-decoration-thickness: 3px;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration: underline;
  text-decoration-color: #007cf0;
  text-decoration-thickness: 3px;
}

/* Team */

.team__hero {
  display: block;
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  height: 250px;
}

.team {
  padding-top: 136px;
  position: relative;
}

.team > * {
  z-index: 2;
}

.team__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.team__background {
  margin-top: 42px;
}

/* Project Section */

.project {
  display: block;
  background-color: #50e68c;
  width: 100%;
  margin-bottom: 30px;
  padding: 64px 0;
  color: #162c27;
}

.project__logo {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.project__icon {
  width: 64px;
  height: 64px;
}

.project__title {
  font-family: 'Dangrek', cursive;
  font-size: 32px;
}

.project__info {
  max-width: 800px;
  margin: 52px auto 0 auto;
  padding: 0 16px;
}

.project__description {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 400;
}

/* feature section */
.feature {
  padding: 0 16px;
}

/* .feature__header {
  display: grid;
  place-items: center;
} */

.feature__detail {
  list-style: none;
  margin-top: 64px;
}

.feature__detail li:not(:last-child) {
  margin-bottom: 24px;
}

.feature__detail li {
  list-style-position: inside;
}

.feature__item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.feature__icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(22, 44, 39, 0.25);
  flex-shrink: 0;
}

.feature__icon i {
  color: rgb(22, 44, 39, 0.8);
}

.benefit__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  justify-content: center;
  gap: 16px;
}

.benefit__list li {
  flex-grow: 0;
  flex-basis: 240px;
  flex-shrink: 0;
}

.benefit__item {
  padding: 16px;
  border: 1px solid rgba(22, 44, 39, 0.25);
  border-radius: 16px;
  transition: all 0.2s ease-in;
}

.benefit__item:hover {
  transform: translateY(-5px);
}

.benefit__icon {
  width: 100%;
  padding: 8px;
  height: 128px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefit__icon i {
  font-size: 42px;
}

.benefit__icon--cyan {
  background-color: #ecfeff;
}

.benefit__icon--cyan i {
  color: #164e63;
}

.benefit__icon--teal {
  background-color: #f0fdfa;
}

.benefit__icon--teal i {
  color: #134e4a;
}

.benefit__icon--amber {
  background-color: #fffbeb;
}

.benefit__icon--amber i {
  color: #78350f;
}

.benefit__title {
  margin-top: 8px;
  font-weight: 600;
  text-align: center;
}
